body {
  position: relative;
  color: black;
  font-size: 14px;
  height: 100vh;
  background-color: white;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  margin: 0;
}

h2 {
  font-size: 14px;
}

:focus {
  outline: none;
}
